@import "tailwindcss";

:root {
  --background: #141414; /* Netflix Black */
  --foreground: #FFFFFF;
  --color-netflix-red: #E50914;
  --color-netflix-dark: #141414;
  --color-netflix-gray: #808080;
  --color-netflix-light-gray: #E5E5E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-bebas: var(--font-bebas);
  
  --color-netflix-red: var(--color-netflix-red);
  --color-netflix-black: var(--color-netflix-dark);
  --color-netflix-gray: var(--color-netflix-gray);
  
  --animate-fade-in: fade-in 1.5s ease-out forwards;
  --animate-zoom-in: zoom-in 10s ease-out forwards;
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom scrollbar for a polished look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
